<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	
	xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
 		http://www.springframework.org/schema/context
 		http://www.springframework.org/schema/context/spring-context-4.2.xsd
 		http://www.springframework.org/schema/util
 		http://www.springframework.org/schema/util/spring-util-4.2.xsd 		
 		http://www.springframework.org/schema/aop
 		http://www.springframework.org/schema/aop/spring-aop-4.2.xsd 	
 		http://www.springframework.org/schema/jdbc
		http://www.springframework.org/schema/jdbc/spring-jdbc-4.2.xsd
 			
 		">


	<bean id = "userDaoImpl" class="com.epam.spring.movie.dao.impl.UserDaoImpl" />
	
	<bean id = "userServiceImpl" class="com.epam.spring.movie.service.impl.UserServiceImpl">
		<property name="userDao" ref="userDaoImpl" />
	</bean>	
	
	<bean id = "eventDaoImpl" class="com.epam.spring.movie.dao.impl.EventDaoImpl" />
	
	<bean id = "eventServiceImpl" class="com.epam.spring.movie.service.impl.EventServiceImpl">
		<property name="eventDao" ref="eventDaoImpl" />
	</bean>	

	<bean id = "assignmentDaoImpl" class="com.epam.spring.movie.dao.impl.AssignmentDaoImpl" >
		<property name="eventDao" ref="eventDaoImpl" />
		<property name="auditoriumDao" ref="auditoriumDaoStub" />
	</bean>
	
	<bean id = "assignmentServiceImpl" class="com.epam.spring.movie.service.impl.AssignmentServiceImpl">
		<property name="assignmentDao" ref="assignmentDaoImpl" />
	</bean>
	
	<bean id = "discountStrategyDaoStub" class="com.epam.spring.movie.service.stub.DiscountStrategyDaoStub">
	</bean>
	
	<bean id = "ticketDaoImpl" class="com.epam.spring.movie.dao.impl.TicketDaoImpl" >
		<property name="eventDao" ref="eventDaoImpl" />
		<property name="userDao" ref="userDaoImpl" />
		<property name="auditoriumDao" ref="auditoriumDaoStub" />
		<property name="discountStrategyDao" ref="discountStrategyDaoStub" />
	</bean>
	<bean id = "ticketServiceImpl" class="com.epam.spring.movie.service.impl.TicketServiceImpl">
		<property name="ticketDao" ref="ticketDaoImpl" />
		<property name="discountStrategyService" ref="discountStrategyServiceImpl" />
	</bean>	
		
		
	<bean id="dateFormat" class="java.text.SimpleDateFormat" scope="prototype">
		<constructor-arg value="yyyy-MM-dd" />
	</bean>

	<bean id="user_0" class="com.epam.spring.movie.bean.User">
		<property name="id"  value="0" />
		<property name="name"  value="Bruce Willis" />
		<property name="email" value="Bruce_Willis@gmail.com" />
		
		<property name="birthDate">
			<bean factory-bean="dateFormat" factory-method="parse">
				<constructor-arg value="1955-03-19" />
			</bean>
		</property>
	</bean>
	
	<bean id="user_1" class="com.epam.spring.movie.bean.User">
		<property name="id"  value="1" />
		<property name="name"  value="Laura Palmer" />
		<property name="email" value="Laura_Palmer@gmail.com" />
		
		<property name="birthDate">
			<bean factory-bean="dateFormat" factory-method="parse">
				<constructor-arg value="1992-03-01" />
			</bean>
		</property>		
	</bean>
	
	<bean id="user_2" class="com.epam.spring.movie.bean.User">
		<property name="id"  value="2" />
		<property name="name"  value="John Doe" />
		<property name="email" value="John_Doe@gmail.com" />
	</bean>
	
	<bean id="user_3" class="com.epam.spring.movie.bean.User">
		<property name="id"  value="3" />
		<property name="name"  value="John Doe" />
		<property name="email" value="John_Doe@yahoo.com" />
	</bean>
			
	<bean id = "userDaoStub" class="com.epam.spring.movie.dao.stub.UserDaoStub">
		<property name="holder">
			<map>
				<entry key="0"  value-ref="user_0" />
				<entry key="1"  value-ref="user_1" />
				<entry key="2"  value-ref="user_2" />
				<entry key="3"  value-ref="user_3" />
			</map>
		</property>
	</bean>
	
	
	<bean id="event_0"  class="com.epam.spring.movie.bean.Event">
		<property name="id"  value="0" />
		<property name="name"  value="Dead Pool" />
		<property name="rating"  value="3" />
		<property name="price"  value="80" />
	</bean>
	
	<bean id="event_1" class="com.epam.spring.movie.bean.Event">
		<property name="id"  value="1" />
		<property name="name"  value="Pulp Fiction" />
		<property name="rating"  value="2" />
		<property name="price"  value="100" />
	</bean>
	
	<bean id = "eventDaoStub" class="com.epam.spring.movie.dao.stub.EventDaoStub">
		<property name="holder">
			<map>
				<entry key="0"  value-ref="event_0" />
				<entry key="1"  value-ref="event_1" />
			</map>
		</property>
	</bean>	
	
	
	<bean name="2d" class="com.epam.spring.movie.bean.Auditorium">
		<property name="id"  value="0" />
		<property name="name"  value="2D" />
		<property name="numberOfSeats"  value="10" />
		<property name="vipSeats">
			<set>
				<value>7</value>
				<value>8</value>
				<value>9</value>	
			</set>
		</property>
	</bean>

	<bean name="3d" class="com.epam.spring.movie.bean.Auditorium">
		<property name="id"  value="1" />
		<property name="name"  value="3D" />
		<property name="numberOfSeats"  value="15" />
		<property name="vipSeats">
			<set>
				<value>10</value>
				<value>11</value>
				<value>12</value>	
				<value>13</value>	
			</set>
		</property>
	</bean>	
	
	<bean name="imax" class="com.epam.spring.movie.bean.Auditorium">
		<property name="id"  value="10" />
		<property name="name"  value="IMAX 3D" />
		<property name="numberOfSeats"  value="30" />
		<property name="vipSeats">
			<set>
				<value>25</value>
				<value>26</value>
				<value>27</value>	
				<value>28</value>	
			</set>
		</property>
	</bean>	
		
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:cinema.properties</value>
			</list>
		</property>
		<property name="ignoreResourceNotFound" value="true" />
		<property name="systemPropertiesMode">
			<util:constant
				static-field="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer.SYSTEM_PROPERTIES_MODE_OVERRIDE" />
		</property>
	</bean>	

	<bean name="4d" class="com.epam.spring.movie.bean.Auditorium" p:name="${name}" p:id="${id}" p:numberOfSeats="${numberOfSeats}" p:vipSeatsString="${vipSeats}">
	</bean>
		
	<bean id = "auditoriumDaoStub" class="com.epam.spring.movie.dao.stub.AuditoriumDaoStub">
		<property name="holder">
			<map>
				<entry key="0"  value-ref="2d" />
				<entry key="1"  value-ref="3d" />
				<entry key="2"  value-ref="4d" />
			</map>
		</property>
	</bean>		
	
		
	<bean id="ticket_0" class="com.epam.spring.movie.bean.Ticket">
		<property name="id"  value="0" />
		<property name="event"  ref="event_0" />
		<property name="auditorium"  ref="2d" />
		<property name="seat"  value="1" />
		<property name="user" ref="user_0" />
		<property name="price" value="110" />
		
		<property name="date">
			<bean factory-bean="dateFormat" factory-method="parse">
				<constructor-arg value="2016-03-01" />
			</bean>
		</property>
		
		<property name="hour" value="18" />
		<property name="minute" value="30" />
	</bean>	
	
	<bean id="ticket_1" class="com.epam.spring.movie.bean.Ticket">
		<property name="id"  value="1" />
		<property name="event"  ref="event_0" />
		<property name="auditorium"  ref="2d" />
		<property name="seat"  value="5" />
		<property name="user" ref="user_1" />
		<property name="price" value="110" />
		
		<property name="date">
			<bean factory-bean="dateFormat" factory-method="parse">
				<constructor-arg value="2016-03-01" />
			</bean>
		</property>
		
		<property name="hour" value="18" />
		<property name="minute" value="30" />
				
	</bean>		
	<bean id="ticket_2" class="com.epam.spring.movie.bean.Ticket">
		<property name="id"  value="2" />
		<property name="event"  ref="event_1" />
		<property name="auditorium"  ref="3d" />
		<property name="seat"  value="7" />
		<property name="user" ref="user_2" />
		<property name="price" value="120" />

		<property name="date">
			<bean factory-bean="dateFormat" factory-method="parse">
				<constructor-arg value="2016-03-01" />
			</bean>
		</property>
		
		<property name="hour" value="18" />
		<property name="minute" value="30" />
		
	</bean>		
	<bean id="ticket_3" class="com.epam.spring.movie.bean.Ticket">
		<property name="id"  value="3" />
		<property name="event"  ref="event_1" />
		<property name="auditorium"  ref="3d" />
		<property name="seat"  value="8" />
		<property name="user" ref="user_1" />
		<property name="price" value="120" />
		
		<property name="date">
			<bean factory-bean="dateFormat" factory-method="parse">
				<constructor-arg value="2016-03-01" />
			</bean>
		</property>
		
		<property name="hour" value="18" />
		<property name="minute" value="30" />
		
	</bean>	
	
	<bean id="ticket_6" class="com.epam.spring.movie.bean.Ticket">
		<property name="id"  value="6" />
		<property name="event"  ref="event_1" />
		<property name="auditorium"  ref="3d" />
		<property name="seat"  value="8" />
		<property name="price" value="130" />
		
		<property name="date">
			<bean factory-bean="dateFormat" factory-method="parse">
				<constructor-arg value="2016-03-01" />
			</bean>
		</property>
		
		<property name="hour" value="21" />
		<property name="minute" value="45" />
		
	</bean>	
		
	<bean id="ticket_4" class="com.epam.spring.movie.bean.Ticket">
		<property name="id"  value="4" />
		<property name="event"  ref="event_0" />
		<property name="auditorium"  ref="4d" />
		<property name="seat"  value="5" />
		<property name="user" ref="user_0" />
		<property name="price" value="150" />
		
		<property name="date">
			<bean factory-bean="dateFormat" factory-method="parse">
				<constructor-arg value="2016-03-02" />
			</bean>
		</property>
		
		<property name="hour" value="20" />
		<property name="minute" value="0" />
		
	</bean>	
	<bean id="ticket_5" class="com.epam.spring.movie.bean.Ticket">
		<property name="id"  value="5" />
		<property name="event"  ref="event_0" />
		<property name="auditorium"  ref="4d" />
		<property name="seat"  value="6" />
		<property name="price" value="150" />
		
		<property name="date">
			<bean factory-bean="dateFormat" factory-method="parse">
				<constructor-arg value="2016-03-02" />
			</bean>
		</property>
		
		<property name="hour" value="20" />
		<property name="minute" value="0" />		
	</bean>		
	
	<bean id = "ticketDaoStub" class="com.epam.spring.movie.dao.stub.TicketDaoStub">
		<property name="holder">
			<map>
				<entry key="0"  value-ref="ticket_0" />
				<entry key="1"  value-ref="ticket_1" />
				<entry key="2"  value-ref="ticket_2" />
				<entry key="3"  value-ref="ticket_3" />
				<entry key="6"  value-ref="ticket_6" />
				<entry key="4"  value-ref="ticket_4" />
				<entry key="5"  value-ref="ticket_5" />
			</map>
		</property>
	</bean>	
	
	<bean id="new_ticket_7" class="com.epam.spring.movie.bean.Ticket">
		<property name="id"  value="7" />
		<property name="event"  ref="event_1" />
		<property name="auditorium"  ref="3d" />
		<property name="seat"  value="10" />
		<property name="user" ref="user_1" />
		
		<property name="date">
			<bean factory-bean="dateFormat" factory-method="parse">
				<constructor-arg value="2016-03-01" />
			</bean>
		</property>
		
		<property name="hour" value="21" />
		<property name="minute" value="45" />		
	</bean>
	
	
	<bean id="assign_0" class="com.epam.spring.movie.bean.Assignment">
		<property name="id"  value="0" />
		<property name="event"  ref="event_0" />
		<property name="auditorium"  ref="2d" />
		
		<property name="date">
			<bean factory-bean="dateFormat" factory-method="parse">
				<constructor-arg value="2016-03-01" />
			</bean>
		</property>
		
		<property name="hour" value="18" />
		<property name="minute" value="30" />
	</bean>	
	
	<bean id="assign_1" class="com.epam.spring.movie.bean.Assignment">
		<property name="id"  value="1" />
		<property name="event"  ref="event_1" />
		<property name="auditorium"  ref="3d" />

		<property name="date">
			<bean factory-bean="dateFormat" factory-method="parse">
				<constructor-arg value="2016-03-01" />
			</bean>
		</property>
		
		<property name="hour" value="18" />
		<property name="minute" value="30" />
	</bean>
	
	<bean id="assign_2" class="com.epam.spring.movie.bean.Assignment">
		<property name="id"  value="2" />
		<property name="event"  ref="event_1" />
		<property name="auditorium"  ref="3d" />
		
		<property name="date">
			<bean factory-bean="dateFormat" factory-method="parse">
				<constructor-arg value="2016-03-01" />
			</bean>
		</property>
		
		<property name="hour" value="21" />
		<property name="minute" value="45" />
	</bean>	
	
	<bean id="assign_3" class="com.epam.spring.movie.bean.Assignment">
		<property name="id"  value="3" />
		<property name="event"  ref="event_0" />
		<property name="auditorium"  ref="4d" />
		
		<property name="date">
			<bean factory-bean="dateFormat" factory-method="parse">
				<constructor-arg value="2016-03-02" />
			</bean>
		</property>
		
		<property name="hour" value="20" />
		<property name="minute" value="0" />		
	</bean>	
	
	<bean id="new_assign_4" class="com.epam.spring.movie.bean.Assignment">
		<property name="id"  value="4" />
		<property name="event"  ref="event_0" />
		<property name="auditorium"  ref="4d" />
		
		<property name="date">
			<bean factory-bean="dateFormat" factory-method="parse">
				<constructor-arg value="2016-03-02" />
			</bean>
		</property>
		
		<property name="hour" value="23" />
		<property name="minute" value="15" />		
	</bean>	
		
	<bean id = "assignmentDaoStub" class="com.epam.spring.movie.dao.stub.AssignmentDaoStub">
		<property name="holder">
			<map>
				<entry key="0"  value-ref="assign_0" />
				<entry key="1"  value-ref="assign_1" />
				<entry key="2"  value-ref="assign_2" />
				<entry key="3"  value-ref="assign_3" />
			</map>
		</property>
	</bean>	
	
	<bean id = "eventCounterDaoStub" class="com.epam.spring.movie.dao.stub.EventCounterDaoStub">
	</bean>
	
	<bean id = "userDiscountCounterDaoStub" class="com.epam.spring.movie.dao.stub.UserDiscountCounterDaoStub">
	</bean>
		


	
	<bean id = "auditoriumServiceImpl" class="com.epam.spring.movie.service.impl.AuditoriumServiceImpl">
		<property name="auditoriumDao" ref="auditoriumDaoStub" />
	</bean>		
	
	<bean id = "eventCounterServiceImpl" class="com.epam.spring.movie.service.impl.EventCounterServiceImpl">
		<property name="eventCounterDao" ref="eventCounterDaoStub" />
	</bean>	
	
	<bean id = "userDiscountCounterServiceImpl" class="com.epam.spring.movie.service.impl.UserDiscountCounterServiceImpl">
		<property name="userDiscountCounterDao" ref="userDiscountCounterDaoStub" />
	</bean>	
	
	<bean id="app" class="com.epam.spring.movie.App">
		<property name="userService" ref="userServiceImpl" />
		<property name="eventService" ref="eventServiceImpl" />
		<property name="auditoriumService" ref="auditoriumServiceImpl" />
		<property name="ticketService" ref="ticketServiceImpl" />
		<property name="discountStrategyService" ref="discountStrategyServiceImpl" />
		<property name="assignmentService" ref="assignmentServiceImpl" />
		
		<property name="newTicketFirst" ref="new_ticket_7" />
		<property name="newAssignment" ref="new_assign_4" />
	</bean>
	
		
	<import resource="discounts.xml"/>
	<context:annotation-config/>
	<context:component-scan base-package="com.epam.*">
	</context:component-scan>
	
	<aop:aspectj-autoproxy proxy-target-class="true"/>

	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<constructor-arg ref="dataSource" />
	</bean>
	
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>

	<jdbc:embedded-database id="dataSource" type="H2">
		<jdbc:script location="classpath:/database/create-database.sql" />
		<jdbc:script location="classpath:/database/insert-user.sql" />
		<jdbc:script location="classpath:/database/insert-event.sql" />
		<jdbc:script location="classpath:/database/insert-assignment.sql" />
		<jdbc:script location="classpath:/database/insert-ticket.sql" />
	</jdbc:embedded-database>
</beans>