<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	
	xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
 		http://www.springframework.org/schema/context
 		http://www.springframework.org/schema/context/spring-context-4.2.xsd
 		http://www.springframework.org/schema/util
 		http://www.springframework.org/schema/util/spring-util-4.2.xsd 		
 		">


	<bean id="user_0" class="com.epam.spring.movie.bean.User">
		<property name="id"  value="0" />
		<property name="name"  value="Bruce Willis" />
		<property name="email" value="Bruce_Willis@gmail.com" />
	</bean>
	
	<bean id="user_1" class="com.epam.spring.movie.bean.User">
		<property name="id"  value="1" />
		<property name="name"  value="Laura Palmer" />
		<property name="email" value="Laura_Palmer@gmail.com" />
	</bean>
	
	<bean id="user_2" class="com.epam.spring.movie.bean.User">
		<property name="id"  value="2" />
		<property name="name"  value="John Doe" />
		<property name="email" value="John_Doe@gmail.com" />
	</bean>
	
	<bean id="user_3" class="com.epam.spring.movie.bean.User">
		<property name="id"  value="3" />
		<property name="name"  value="John Doe" />
		<property name="email" value="John_Doe@yahoo.com" />
	</bean>
			
	<bean id = "userDaoStub" class="com.epam.spring.movie.dao.stub.UserDaoStub">
		<property name="holder">
			<map>
				<entry key="0"  value-ref="user_0" />
				<entry key="1"  value-ref="user_1" />
				<entry key="2"  value-ref="user_2" />
				<entry key="3"  value-ref="user_3" />
			</map>
		</property>
	</bean>
	
	
	<bean id="event_0" class="com.epam.spring.movie.bean.Event">
		<property name="id"  value="0" />
		<property name="name"  value="Dead Pool" />
		<property name="rating"  value="3" />
		<property name="price"  value="80" />
	</bean>
	
	<bean id="event_1" class="com.epam.spring.movie.bean.Event">
		<property name="id"  value="1" />
		<property name="name"  value="Pulp Fiction" />
		<property name="price"  value="100" />
	</bean>
	
	<bean id = "eventDaoStub" class="com.epam.spring.movie.dao.stub.EventDaoStub">
		<property name="holder">
			<map>
				<entry key="0"  value-ref="event_0" />
				<entry key="1"  value-ref="event_1" />
			</map>
		</property>
	</bean>	
	
	
	<bean name="2d" class="com.epam.spring.movie.bean.Auditorium">
		<property name="id"  value="0" />
		<property name="name"  value="2D" />
		<property name="numberOfSeats"  value="10" />
		<property name="vipSeats">
			<set>
				<value>7</value>
				<value>8</value>
				<value>9</value>	
			</set>
		</property>
	</bean>

	<bean name="3d" class="com.epam.spring.movie.bean.Auditorium">
		<property name="id"  value="1" />
		<property name="name"  value="3D" />
		<property name="numberOfSeats"  value="15" />
		<property name="vipSeats">
			<set>
				<value>10</value>
				<value>11</value>
				<value>12</value>	
				<value>13</value>	
			</set>
		</property>
	</bean>	
	
	<bean id = "auditoriumDaoStub" class="com.epam.spring.movie.dao.stub.AuditoriumDaoStub">
		<property name="holder">
			<map>
				<entry key="0"  value-ref="2d" />
				<entry key="1"  value-ref="3d" />
			</map>
		</property>
	</bean>		
	
	<bean id="app" class="com.epam.spring.movie.App">
	</bean>
	
	<context:annotation-config/>

</beans>